body {
  background-color: $bodybg;
}

.loginpage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &__half {
    width: 50%;
    height: 100vh;

    &.loginpage__half--deco {
      position: relative;
      background-color: gold;
    }
  }

  &__brand {
    position: relative;
    z-index: 2;
    margin: 3rem;
  }

  &__logo {
    display: block;
    width: 8rem;
  }

  &__brandLink {
    padding: 0;
    color: $dark;
    text-decoration: none;
  }

  &__deco {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
    opacity: 0;
    background-size: cover;
    background-position: bottom right;
    background-repeat: no-repeat;

    &--step1 {
      background-image: url(../../dist/img/deco-truck.jpg);
    }

    &--step2 {
      background-image: url(../../dist/img/deco-building.jpg);
    }

    &--step3 {
      background-image: url(../../dist/img/deco-cogs.jpg);
    }

    &.active {
      opacity: 1;
    }
  }
}
